html { 
  background: cornflowerblue no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

h1 {
	color: white;
	font-weight: bold;
	font-family: arial;
}

#main {
	color: white;
	float: left;
}

#summary {
	color: mistyrose;
}

.enjoy {
	color: linen;
}

.captions {
	color: honeydew;
}

p {
    font-family: arial;
    height: 50px;
    width: 1100px;
}

img {
    border: 9px solid black;
    height: 400px;
    width: 600px;
    padding: 5px;
        
}

#social {
	color:floralwhite;
}

.social-media-links {
	color: black;
}